<div class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50 overflow-y-auto">
  <div class="bg-[var(--side-color)] rounded-[10px] shadow-lg w-full max-w-6xl mx-4 my-8 max-h-[90vh] flex flex-col">
    <div class="flex justify-between items-center p-4 pl-14 pr-7 border-b-[1px] border-[var(--font-color)]">
      <div class="flex items-center space-x-10">
        <button class="text-gray-600 hover:text-gray-800 text-5xl">&lt;</button>
        <button class="text-gray-600 hover:text-gray-800 text-5xl">&gt;</button>
      </div>
      <button (click)="onClose()" class="text-gray-600 hover:text-gray-800 text-5xl">×</button>
    </div>
    <div class="overflow-y-auto flex-grow">
  
      <div class="py-6 flex gap-5">
        <div class="w-2/3  pl-12">            
            <h2 class="text-6xl font-bold mb-2 tracking-wider">{{ article.title }}</h2>
            <p class="text-xl text-gray-600 mb-4">11/03/2003</p>
          <!-- Content -->
          <div class="w-full h-[50vh] mb-4 rounded overflow-hidden">
            <img [src]="ContentImage" alt="Article image" class="w-full h-full object-cover">
          </div>
          <!-- <p class="mb-4">{{ article.content }}</p> -->
           <p class="mb-4 text-lg">
            Brain rot (or brainrot) is a slang term used to describe internet content of low quality or value, or negative effects (psychological, cognitive, etc.) caused by it.[1] As a psychological descriptor, it implies the spending of excessive amounts of time spent online, with possible deterioration in cognitive functioning and attention span.
           </p>
          <!-- Action -->
          <div class="bg-[var(--font-color)] text-white text-lg rounded-[10px] p-2 flex justify-between">
            <div class="flex items-center space-x-4">
              <button class="flex items-center space-x-1">
                <span nz-icon nzType="caret-up" nzTheme="outline"></span>
                <span>6.9M</span>
              </button>
              <button>
                <span nz-icon nzType="caret-down" nzTheme="outline"></span>
              </button>
            </div>
            <button class="flex items-center space-x-1">
              <span nz-icon nzType="comment" nzTheme="outline"></span>
              <span>Comment</span>
            </button>
            <button class="flex items-center space-x-1">
              <span nz-icon nzType="book" nzTheme="outline"></span>
              <span>Bookmark</span>
            </button>
            <button class="flex items-center space-x-1">
              <span nz-icon nzType="copy" nzTheme="outline"></span>
              <span>Copy</span>
            </button>
          </div>  
          <!-- Comment -->
          <div class="bg-[var(--font-color)] text-white text-lg rounded-[10px] p-4  mt-5">
            <div class=" text-[var(--main-theme)] py-1 rounded-full text-sm font-bold flex justify-between gap-2">
                <img [src]="AuthorImage" alt="Suggested article" class="w-8 h-8 rounded-full object-cover">
                <input type="text" placeholder="Write something..." class="bg-transparent border-none text-white focus:outline-none w-full">
                <button class="shine-button bg-white text-[var(--main-theme)] px-5 flex items-center justify-center py-1 rounded-full text-sm font-bold">Comment</button>
            </div>
          </div>
          <!-- Comment List-->
          <div class="bg-[var(--font-color)] rounded-[10px] p-4 mt-5">
            <div class="flex items-center space-x-2 mb-6">
              <div class="w-8 h-8 rounded-full overflow-hidden">
                <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
              </div>
              <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
            </div>
            <div class="flex items-center space-x-2 mb-6">
              <div class="w-8 h-8 rounded-full overflow-hidden">
                <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
              </div>
              <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
            </div>
            <div class="flex items-center space-x-2 mb-6">
              <div class="w-8 h-8 rounded-full overflow-hidden">
                <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
              </div>
              <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
            </div>
            <div class="flex items-center space-x-2 mb-6">
              <div class="w-8 h-8 rounded-full overflow-hidden">
                <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
              </div>
              <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
            </div>
            <div class="flex items-center space-x-2 mb-6">
              <div class="w-8 h-8 rounded-full overflow-hidden">
                <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
              </div>
              <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
            </div>
            <div class="flex items-center space-x-2 mb-6">
              <div class="w-8 h-8 rounded-full overflow-hidden">
                <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
              </div>
              <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
            </div>
            <div class="flex items-center space-x-2 mb-6">
              <div class="w-8 h-8 rounded-full overflow-hidden">
                <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
              </div>
              <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
            </div>
            <div class="flex items-center space-x-2 mb-6">
              <div class="w-8 h-8 rounded-full overflow-hidden">
                <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
              </div>
              <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
            </div>
            <div class="flex items-center space-x-2 mb-6">
              <div class="w-8 h-8 rounded-full overflow-hidden">
                <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
              </div>
              <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
            </div>
            <div class="flex items-center space-x-2 mb-6">
              <div class="w-8 h-8 rounded-full overflow-hidden">
                <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
              </div>
              <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
            </div>
            <div class="flex items-center space-x-2 mb-6">
              <div class="w-8 h-8 rounded-full overflow-hidden">
                <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
              </div>
              <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
            </div>
          </div>
                
        </div>
        <div class="w-1/3 p-7">
          <div class="bg-[var(--font-color)] rounded-[10px] p-4 mb-5">
            <!-- Author -->
            <div class="flex items-center justify-between mb-2">
              <div class="flex items-center space-x-2">
                <div class="w-10 h-10 rounded-full overflow-hidden">
                  <img [src]="AuthorImage" alt="Author avatar" class="w-full h-full object-cover">
                </div>
                <div class="text-[20px]">
                  <div class="font-bold text-white">{{article.author}}</div>
                  <div class="text-gray-400 text-sm">nametag</div>
                </div>
              </div>
              <button class="shine-button bg-white text-[var(--main-theme)] px-4 py-1 rounded-full text-sm font-bold">FOLLOW</button>
            </div>
          </div>
          
          <div class="bg-[var(--font-color)] rounded-[10px] p-4 mb-5">
            <h3 class="text-white font-bold mb-2 text-[20px]">Share to</h3>
            <div class="flex text-2xl space-x-4">
                <button class="text-gray-400 hover:text-white">
                    <span nz-icon nzType="link" nzTheme="outline"></span>
                  </button>
                  <button class="text-gray-400 hover:text-white">
                    <span nz-icon nzType="facebook" nzTheme="outline"></span>
                  </button>
                  <button class="text-gray-400 hover:text-white">
                    <span nz-icon nzType="twitter" nzTheme="outline"></span>
                  </button>
                  <button class="text-gray-400 hover:text-white">
                    <span nz-icon nzType="instagram" nzTheme="outline"></span>
                  </button>
                  <button class="text-gray-400 hover:text-white">
                    <span nz-icon nzType="reddit" nzTheme="outline"></span>
                  </button>
            </div>
          </div>
          <!-- Suggestion -->
          <div class="bg-[var(--font-color)] rounded-[10px] p-4">
            <h3 class="text-white font-bold mb-2 text-[20px]">You may like</h3>
            <div class="space-y-2 text-[15px]">
              <div class="flex items-center space-x-2">
                <div class="w-8 h-8 rounded-full overflow-hidden">
                  <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
                </div>
                <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
              </div>
              <div class="flex items-center space-x-2">
                <div class="w-8 h-8 rounded-full overflow-hidden">
                  <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
                </div>
                <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
              </div>
              <div class="flex items-center space-x-2">
                <div class="w-8 h-8 rounded-full overflow-hidden">
                  <img [src]="AuthorImage" alt="Suggested article" class="w-full h-full object-cover">
                </div>
                <div class="text-gray-300 text-sm">Title - something that is kinda long to be honest</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
