<div
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50 overflow-y-auto"
>
  <div
    class="bg-[var(--side-color)] rounded-[10px] shadow-lg w-[70vw] max-w-6xl mx-4 my-8 max-h-[90vh] flex flex-col overflow-y-auto"
  >
    <div
      class="flex justify-between items-center p-4 pl-14 pr-7 border-b-[1px] border-[var(--font-color)]"
    >
      <div class="flex items-center space-x-10">
        <button class="text-gray-600 hover:text-gray-800 text-5xl">&lt;</button>
        <button class="text-gray-600 hover:text-gray-800 text-5xl">&gt;</button>
      </div>
      <button
        (click)="onClose()"
        class="text-gray-600 hover:text-gray-800 text-5xl"
      >
        ×
      </button>
    </div>

    <app-blog-detail [blogId]="article.id" [isPopup]="true" ></app-blog-detail>
  </div>
</div>
