/* app.component.css */

@import 'ckeditor5/ckeditor5.css';
@import 'ckeditor5-premium-features/ckeditor5-premium-features.css';


/* Add this to your component's CSS file or global styles */
.custom-file-upload {
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    background-color: var(--main-theme); /* Change to your desired color */
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: var(--main-theme); /* Adjust hover effect */
}

.hidden {
    display: none; /* Hide the default file input */
}
.invalid-background {
    background-color: var(--font-color) !important;
    
}