/* Add this to your component's CSS file or global styles */
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--main-theme); /* Change to your desired color */
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: var(--main-theme); /* Adjust hover effect */
}

.hidden {
    display: none; /* Hide the default file input */
}
.invalid-background {
    background-color: var(--font-color) !important;
    
}

.quill-editor {
    height: 200px; /* Adjust as needed */
    background-color: #fff; /* Ensure a background color is applied */
    border: 1px solid #ddd; /* Border for better visibility */
  }
  
  .ql-container {
    height: 150px; /* Editor content height */
    background-color: #fff; /* Ensure the content area is visible */
  }
  