<div class="min-h-screen">
    <!-- Header section with user greeting -->
    
  
    <div class="container mx-auto pl-10 py-8">
      <!-- Featured/Latest section -->
      <section class="mb-12">
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-2xl font-bold text-[var(--font-color)] uppercase">
            Report: Pending
          </h2>
          <a
            href="#"
            class="underline text-xl text-[var(--font-color)]"
            routerLink="/blog"
            >See more</a
          >
        </div>
        <div
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 justify-items-center"
        >
          <!-- Use the BlogCardComponent -->
          <app-blog-card
            *ngFor="
              let article of (pendingBlogs$ | async)?.slice()?.reverse() | slice: 0 : 4
            "
            [article]="article"
          ></app-blog-card>
        </div>
      </section>
  
    </div>
  </div>
  